@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.prices {
    padding: 40px 0;
    &__title {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
    }
    &__cards {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
        gap: 10px;
    }
    &__card {
        padding: 10px;
        width: 300px;
        height: 300px;
        background: linear-gradient(
            -75deg,
            rgba(181, 125, 107, 0.05),
            rgba(181, 125, 107, 0.2),
            rgba(181, 125, 107, 0.05)
        );
        border-radius: 1rem; /* Или любой другой радиус для карточки */
        box-shadow: inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
            inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
            0 0.25em 0.125em -0.125em rgba(0, 0, 0, 0.2),
            0 0 0.1em 0.25em inset rgba(255, 255, 255, 0.2),
            0 0 0 0 rgba(255, 255, 255, 1);
        transition: all 400ms cubic-bezier(0.25, 1, 0.5, 1);
        &:hover {
            transform: scale(1.05); /* Увеличение карточки при наведении */
            box-shadow: inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
                inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
                0 0.15em 0.05em -0.1em rgba(0, 0, 0, 0.25),
                0 0 0.05em 0.1em inset rgba(255, 255, 255, 0.5),
                0 0 0 0 rgba(255, 255, 255, 1);
            filter: blur(clamp(2px, 0.0625em, 6px));
        }
    }
    &__dekor {
        &_left {
            transform: rotate(90deg);
            left: 10px;
            top: 1110px;
        }
        &_right {
            transform: rotate(270deg);
            right: 10px;
            top: 1735px;
        }
    }
}

@media screen and (min-width: 768px) {
    .prices {
        padding-top: 60px;
        &__cards {
            flex-direction: row;
            gap: 20px;
        }
        &__card {
            padding: 15px;
            width: 350px;
            height: 350px;
        }
        &__dekor {
            &_left {
                left: 20px;
                top: 1330px;
            }
            &_right {
                top: 1755px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .prices {
        padding-top: 80px;
        &__cards {
            flex-direction: row;
            gap: 30px;
            margin-top: 40px;
        }
        &__card {
            padding: 20px;
            width: 450px;
            height: 450px;
        }
        &__dekor {
            &_left {
                left: 40px;
                top: 1890px;
            }
            &_right {
                top: 2400px;
                right: 40px;
            }
        }
    }
}
