@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.title_h1 {
    @include background-gradient;
    font-family: "Marck Script", sans-serif;
    font-weight: 700;
    font-size: 32px;
    font-style: normal;
    line-height: normal;
}

.title_h2 {
    @include background-gradient;
    font-family: "Marck Script", sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
}

.title_h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}

.title_h4 {
    @include background-gradient;
    font-family: "Marck Script", sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    font-style: normal;
    line-height: normal;
}

@media screen and (min-width: 768px) {
    .title_h1 {
        font-size: 48px;
    }
    .title_h2 {
        font-size: 36px;
    }
    .title_h4 {
        font-size: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .title_h1 {
        font-size: 60px;
    }
    .title_h2 {
        font-size: 48px;
    }
    .title_h3 {
        font-size: 36px;
    }
    .title_h4 {
        font-size: 28px;
    }
}
